@import "tailwindcss";

@layer utilities {
  /* Flexbox */
  .text-header-blog {
    @apply  text-2xl lg:text-4xl font-bold text-center text-white  ;
  }
  .text-hed-introB {
    @apply text-xl lg:text-3xl font-bold text-white ;
  }

}


.blog-button-now{
    color: white;
    position: relative;
    width: 120px;
    padding: 10px 0px 10px 0px ;

    
    display: flex;
    flex-direction: column;
    align-items: start;
    text-align: start;
   
    text-transform: uppercase;
}

.blog-button-now::before{
    content: "";
    width: 70%;
    height: 0.8px;

    background-color: var(--primary);
    position: absolute;
    bottom: 8px;
    /* left: 0; */
}
