@import "tailwindcss";


.auth-photo {
    background-image: url("https://i.ibb.co.com/Ps6Q2k1p/benjamin-voros-ph-IFd-C6l-A4-E-unsplash.jpg");
    display: inline-flex;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* global variables */
:root {
  --primary: #FB8F2C;
}


/* ✅ Correct Tailwind custom utility definition */
@layer utilities {
  /* Flexbox */
  .flex-center-dd {
    @apply flex flex-col items-center;
  }
}
